<%- include('master', 
{
  title: title,
  body: `
  <h1>Selamat Datang di Website Pariwisata Palembang</h1>
  <p>Ini adalah Halaman Website Official Pariwisata Palembang. Anda
    dapat memesan paket wisata pada Website ini. Selamat Menikmati keindahan
    wisata Palembang.
  </p>
  `


})

%>

<!-- Agar dapat dipanggil ke halaman master-->