<%- include('master', {
  title: 'Paket Wisata Palembang',
  body: `
  <div class="container mt-5">
    <h1 class="text-center mb-4">Paket Wisata Palembang</h1>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Nama Paket</th>
            <th>Durasi</th>
            <th>Harga</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Paket Wisata Museum Balaputradewa</td>
            <td>5 Jam</td>
            <td>Rp 500.000</td>
          </tr>
          <tr>
            <td>Paket Wisata Jembatan Ampera</td>
            <td>2 Jam</td>
            <td>Rp 1.000.000</td>
          </tr>
          <tr>
            <td>Paket Wisata Taman Kambang Iwak</td>
            <td>3 Jam</td>
            <td>Rp 400.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  `
}) %>

<% listpaketwisata.forEach(paket => { %>
  <li>
    <%= paket.nama %> : Rp <%= paket.harga %>
  </li>
<% }) %>